@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-title {
    font-family: Bodoni Moda, Tofu, serif;
    font-weight: bold;
  }

  .font-body {
    font-family: Raleway, serif;
  }

  html, body {
    @apply bg-primary;
    @apply text-white;
    @apply font-body;
  }

  a:hover {
    @apply text-secondary;
  }

  pre {
    @apply bg-primary-muted rounded-md  w-full px-5 py-2 text-sm;
  }

  code {
    @apply bg-primary-muted rounded-md  w-full px-2 py-1 text-sm;
  }

}